section.contact {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0px;
  left: 50%;
  /* opacity: 0; */
  transform: translate(-50%, 0);
  background-color: white;
  z-index: 2420;
  display: none;
}

section.contact-content {
  position: sticky;
  top: 14000px;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 3100;
  transform: translateZ(2000px);
}

section.contact-content > article.contents {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80vw;
  position: relative;
}
section.contact-content > article.contents > p.mail {
  font-size: 86px;
  font-weight: 400;
  margin-bottom: 50px;
}
section.contact-content > article.contents > p.mail > a {
  color: black;
}
section.contact-content > article.contents > p.ment {
  font-size: 32px;
  margin-bottom: 44px;
  font-weight: 500;
}
section.contact-content > article.contents > p.phone {
  font-size: 32px;
  font-weight: 500;
  margin-bottom: 50px;
}
section.contact-content > article.contents > a.resume {
  width: 220px;
  height: 64px;
  border: 2px solid #181818;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #181818;
  background: #fff;
  margin-bottom: 34px;
  transition: 0.3s ease-out;
}
section.contact-content > article.contents > a.resume:hover {
  color: #fff;
  background: #181818;
  text-decoration: none;
}
section.contact-content > article.contents > a.resume > p {
  font-size: 30px;
  margin-right: 10px;
  font-weight: 500;
  margin-top: -4px;
}
section.contact-content > article.contents > a.resume > .arrow {
  width: 32px;
  height: 32px;
  /* border: 2px solid black; */
  position: relative;
  transform: scale(0.75);
  margin-top: -6px;
}
section.contact-content > article.contents > a.resume > .arrow > .line1,
section.contact-content > article.contents > a.resume > .arrow > .line2 {
  position: absolute;
  width: 16px;
  height: 4px;
  background: #181818;
  top: 70%;
  left: 50%;
  transition: 0.3s ease-out;
}
section.contact-content > article.contents > a.resume > .arrow > .line1 {
  transform: translate(-77%, 0) rotate(45deg);
}
section.contact-content > article.contents > a.resume > .arrow > .line2 {
  transform: translate(-22%, 0) rotate(-45deg);
}
section.contact-content > article.contents > a.resume > .arrow > .line3 {
  position: absolute;
  width: 4px;
  height: 26px;
  transform: translate(-50%, -50%);
  background: #181818;
  top: 50%;
  left: 50%;
  transition: 0.3s ease-out;
}
section.contact-content > article.contents > a.resume > .arrow > .line4 {
  position: absolute;
  width: 24px;
  height: 4px;
  transform: translate(-50%, -50%);
  background: #181818;
  top: 110%;
  left: 50%;
  transition: 0.3s ease-out;
}
section.contact-content > article.contents > a.resume:hover > .arrow > div {
  background: #fff;
}
section.contact-content > article.contents > ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
section.contact-content > article.contents > ul > a {
  padding: 8px 12px 8px 12px;
  font-size: 24px;
  font-weight: 500;
  margin-top: 16px;
  margin-right: 48px;
  transition: 0.3s ease-out;
  text-decoration: none;
}
section.contact-content > article.contents > ul > a > li {
  color: #181818;

  font-size: 24px;
  font-weight: 500;
  transition: 0.3s ease-out;
}
section.contact-content > article.contents > ul > a:hover {
  background: #181818;
}
section.contact-content > article.contents > ul > a:hover > li {
  color: #fff;
}
section.contact-content > p.copyright {
  position: absolute;
  bottom: 40px;
}

@media screen and (max-width: 768px) {
  section.contact-content > article.contents > p.mail {
    font-size: 36px;
    margin-bottom: 2.5rem;
  }
  section.contact-content > article.contents > p.ment {
    font-size: 20px;
    text-align: center;
    line-height: 1.4;
    margin-bottom: 2rem;
  }
  section.contact-content > article.contents > a.resume {
    width: 180px;
    height: 54px;
    margin-bottom: 1.5rem;
  }
  section.contact-content > article.contents > a.resume > p {
    font-size: 24px;
  }
  section.contact-content > article.contents > p.phone {
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 40px;
  }
  section.contact-content > article.contents > ul {
    flex-direction: column;
  }
  section.contact-content > article.contents > ul > a {
    margin-right: 0px;
  }
}
