section.contact {
  position: fixed;
  width: 0vw;
  height: 100vh;
  top: 0px;
  left: 50%;
  transform: translate(-50%, 0);
  background-color: white;
  z-index: 1500;
  display: none;
  transition: 0.1s;
}

section.contact-content {
  position: sticky;
  top: 14000px;
  /* position: relative; */
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  /* background-color: wheat; */
  z-index: 2000;
}

section.contact-content > article.contents {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80vw;
}
section.contact-content > article.contents > p.mail {
  font-size: 86px;
  font-weight: 400;
  margin-bottom: 50px;
}
section.contact-content > article.contents > p.mail > a {
  color: black;
}
section.contact-content > article.contents > p.ment {
  font-size: 32px;
  margin-bottom: 44px;
  font-weight: 500;
}
section.contact-content > article.contents > a.resume {
  width: 220px;
  height: 64px;
  border: 2px solid #181818;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #181818;
  background: #fff;
  margin-bottom: 32px;
}
section.contact-content > article.contents > a.resume > p {
  font-size: 32px;
  margin-right: 16px;
  font-weight: 500;
}
section.contact-content > article.contents > a.resume > .arrow {
  width: 8px;
  height: 8px;
  border: 2px solid black;
}
section.contact-content > article.contents > ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
section.contact-content > article.contents > ul > a {
  padding: 8px 12px 8px 12px;
  font-size: 24px;
  font-weight: 500;
  margin-top: 16px;
  transition: 0.3s ease-out;
  text-decoration: none;
}
section.contact-content > article.contents > ul > a > li {
  color: #181818;

  font-size: 24px;
  font-weight: 500;
  transition: 0.3s ease-out;
}
section.contact-content > article.contents > ul > a:hover {
  background: #181818;
}
section.contact-content > article.contents > ul > a:hover > li {
  color: #fff;
}
