body {
  position: relative;
  height: calc(14700px + 200vh);
}
div.parallax {
  position: relative;
  height: 14700px;
}
section.main {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 2499;
  /* display: none; */
  transform: translateZ(1500px);
}
section.main.shown {
  opacity: 0;
  animation: mainshown 0.5s 2.8s ease-in forwards;
}
@keyframes mainshown {
  from {
    opacity: 0;
  }
  to {
    opacity: 100%;
  }
}

p.hello {
  font-size: 84px;
  position: fixed;
  left: 60px;
  top: 50px;
  text-align: left;
  line-height: 1.4;
  font-weight: 700;
  /* transform: translate(-50%, -50%); */
  z-index: 9999;
  pointer-events: none;
  color: #fff;
}
p.hello > span {
  font-weight: 300;
}

article.about-space {
  color: #fff;
  position: fixed;
  bottom: 50px;
  left: 60px;
  z-index: 101;
  pointer-events: none;
}
article.about-space > h2 {
  font-size: 64px;
  font-weight: 800;
  margin-bottom: 16px;
  color: #181818;
  -webkit-text-stroke: 1px #fff;
  text-shadow: -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff, 1px 1px 0 #fff;
}
article.about-space > h2 > span {
  font-size: 36px;
  font-weight: 500;
  color: #fff;
  -webkit-text-stroke: 1px #181818;
  text-shadow: -1px -1px 0 #181818, 1px -1px 0 #181818, -1px 1px 0 #181818, 1px 1px 0 #181818;
}
article.about-space > p {
  margin-left: 4px;
  font-size: 16px;
  line-height: 1.4;
  font-weight: 400;
}

div.scroll-down {
  position: fixed;
  left: 50%;
  transform: translate(-50%, 0);
  bottom: 70px;
  animation: scroll-down 1.5s ease infinite;
  z-index: 101;
  pointer-events: none;
  color: #fff;
}
div.scroll-down > div.arrow {
  transform: translate(0, 5px);
}
div.scroll-down > div.arrow:nth-child(2) {
  transform: translate(0, 20px);
}
div.scroll-down > div.arrow > div.left {
  width: 30px;
  height: 2px;
  background-color: #fff;
  transform: rotate(45deg) translate(8px, 13px);
}
div.scroll-down > div.arrow > div.right {
  width: 30px;
  height: 2px;
  background-color: #fff;
  transform: rotate(-45deg) translate(3px, 21px);
}

@keyframes scroll-down {
  from {
    transform: translate(-50%, -10px);
    opacity: 1;
  }
  75% {
    opacity: 0.5;
  }
  to {
    transform: translate(-50%, 15px);
    opacity: 0;
  }
}

@media screen and (max-width: 768px) {
  p.hello {
    font-size: 34px;
    left: 20px;
    top: 60px;
  }
  article.about-space {
    bottom: 90px;
    left: 20px;
  }
  article.about-space > h2 {
    font-size: 44px;
    font-weight: 800;
    margin-bottom: 16px;
  }
  article.about-space > h2 > span {
    font-size: 30px;
  }
  article.about-space > p {
    font-size: 14px;
  }
}
