div.object-wrap > div.circle {
    position: fixed;
    left: 50%;
    top: 50%;
    transition: 0.1s;
    width: 0px;
    height: 0px;
    border-radius: 50%;
    background-color: #000;
    background: no-repeat 50% 50% / cover;
    transform: translate(-50%, -50%);
    transform-origin: top;
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center;
}

div.object-wrap > div.bottom {
    transition: 0.5s;
    transform-style: preserve-3d;
    /* transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg); */
    transform: rotateX(55deg) rotateY(180deg) rotateZ(45deg);
}

div.object-wrap > div.circle div {
    width: 200px;
    height: 200px;
    border: 3px solid black;
    transition: 0.1s;
    background-color: white;
    position: absolute;
    background: no-repeat 50% 50% / cover;
}

div.circle > div.front {
    transform-origin: top center;
    /* transform: translate(0%, 100%); */
    z-index: 4;
}
div.circle > div.back {
    transform-origin: bottom center;
    /* transform: translate(0%, -100%); */
    z-index: 6;
}
div.circle > div.left {
    transform-origin: center right;
    /* transform: translate(-100%, 0%); */
    z-index: 8;
}
div.circle > div.right {
    transform-origin: center left;
    transform-style: preserve-3d;
    /* transform: translate(100%, 0%); */
    z-index: 10;
}
div.circle > div.right > div.top {
    transform-origin: center left;
    /* transform: translate(100%, 0%); */
    left: -3px;
    top: -3px;
}
/* div.circle > div.front,
div.circle > div.back,
div.circle > div.left,
div.circle > div.right,
div.circle > div.right > div.top {

} */
