html, body, div, span, applet, object, iframe,/**/
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  font-family: "Noto Sans KR", sans-serif;
}
a:link {
  text-decoration: none;
}
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

article, aside, details, figcaption, figure, /**/
footer, header, hgroup, menu, nav, section {
  display: block;
  font-family: "Noto Sans KR", sans-serif;
}
body {
  line-height: 1;
  overflow-x: hidden;
  position: relative;
  background: #181818;
  transition: background 1s ease-in;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before, blockquote:after,/**/
q:before, q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}

/* SCROLL */
::-webkit-scrollbar {
  width: 6px;
}
/* 스크롤바의 width */
::-webkit-scrollbar-track {
  background-color: #f0f0f07e;
}
/* 스크롤바의 전체 배경색 */
::-webkit-scrollbar-thumb {
  background: linear-gradient(to bottom, #ffba0d, #ffdd1e);
  border-radius: 3px;
}
/* 스크롤바 색 */
::-webkit-scrollbar-button {
  display: none;
}
/* 위 아래 버튼 (버튼 없애기를 함) */
