section.works {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  z-index: 2400;
  display: none;
  pointer-events: none;
}

section.works > ul.work-list {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(20%, -55%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  opacity: 0;
  transition: 1s;
}

section.works > ul.work-list.visible {
  opacity: 1;
}

section.works > ul.work-list > li {
  font-size: 56px;
  color: white;
  font-weight: 700;
  padding: 10px 0;
  margin: 0px;
  cursor: pointer;
  position: relative;
  opacity: 0.5;
}

section.works > ul.work-list > li.active {
  opacity: 1;
  /* list-style: ; */
  list-style: disc;
}

section.works > ul.work-list > li > .underLine {
  position: absolute;
  width: 0%;
  margin-top: -8px;
  height: 10px;
  background: #fff;
  transition: 0.3s ease-in;
}
section.works > ul.work-list > li:first-child:hover > .underLine {
  width: 100%;
}
section.works > ul.work-list > li:nth-child(2):hover > .underLine {
  width: 100%;
}
section.works > ul.work-list > li:nth-child(3):hover > .underLine {
  width: 100%;
}
section.works > ul.work-list > li:nth-child(4):hover > .underLine {
  width: 100%;
}
section.works > ul.work-list > li:nth-child(5):hover > .underLine {
  width: 100%;
}
section.works > ul.work-list > li:nth-child(6):hover > .underLine {
  width: 100%;
}
div.bottom-bar {
  position: fixed;
  width: 0vw;
  height: 3px;
  bottom: 0;
  outline: 0;
  z-index: 8000;
  background-color: rgba(255, 234, 0, 0.625);
}
div.bottom-bar.active {
  animation: bottomBar 3s linear infinite;
}
@keyframes bottomBar {
  0% {
    width: 0vw;
  }
  100% {
    width: 100vw;
  }
}

.work-cursor {
  position: fixed;
  z-index: 9999;
  pointer-events: none;
  background: rgba(18, 18, 18, 0.9);
  /* width: 400px; */
  height: 80px;
  overflow: hidden;
  display: none;
  width: 0;
  transition: 0.3s ease-in;
}
.work-cursor.active {
  width: 400px;
}
.work-cursor > article {
  position: absolute;
  top: 50%;
  left: 16px;
  transform: translate(0%, -50%);
}
.work-cursor > article > p:first-child {
  color: #fff;
  white-space: nowrap;
  margin-bottom: 8px;
  font-size: 18px;
  font-weight: 500;
}
.work-cursor > article > p:nth-child(2) {
  color: #dadada;
  white-space: nowrap;
  font-size: 16px;
}

@media screen and (max-width: 768px) {
  section.works > ul.work-list {
    transform: translate(-50%, 0%);
  }
  section.works > ul.work-list > li {
    font-size: 30px;
    padding: 9px 0;
    white-space: nowrap;
  }
}
